:root {
    --color1: #2a5251;
    --color2: #dfdce3;
    --color3: #f9a826;
    --color4: #2d8b85;
    --color5: #3f3e52;
  }

  h3 {
    background-color: var(--color4);
    color: var(--color2);
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;
  }

  body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #dfdce3;
    font-family: Arial, Helvetica, sans-serif;

  
    main {
      display: flex;
      flex-direction: column;
      margin-left: 3%;
      margin-right: 3%;
      display: flex;
    }
  }
  
  footer {
    font-size: 10px;
    background-color: var(--color4);
    color: var(--color2);
    padding: 0.2% 0.2%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  
  //Condiciones ej1
  #result1 {
    display: flex;
    align-self: center;
    font-size: 28px;
  }
  
