:root {
  --letraGris: #3c3c3c;
  --title: #056571;
  --negro: #192231;
  --color-form: #a9b7c0;
  --rojo: #f53240;
  --colorFondo: #eae3ea;

  --color3: #945d60;
  --color4: #b56357;
  --color5: #af473c;

  --color7: #b4dbc0;
  --color9: #a7b3a5;
  --color10: #cdcdcd;
  --color11: #fff7c0;
  --color12: #66ab8c;

  --color15: #c7d8c6;
  --color16: #e9e7da;
  --color17: #cda34f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--colorFondo);
  font-family: 'Roboto';
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: var(--title);
    padding-left: 4%;
  }

  #auth {
    width: 20%;

    div:nth-child(1) {
      display: flex;
      justify-content: center;
      color: var(--letraGris);

      section:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5%;

        span {
          margin-bottom: 20%;
        }
      }

      //Icono usuario e icono salir
      section:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.5%;
        width: 50%;

        a {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            color: var(--title);
            font-weight: bold;

            span,
            label {
              color: var(--title);
              font-weight: bold;
            }
          }

          span {
            color: var(--letraGris);
          }
          label {
            color: var(--letraGris);
          }
        }
      }
    }

    //Fecha y hora
    div:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--letraGris);
      font-size: 12px;
    }
  }
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

//////////////////////////////////////////////FORMULARIO LOGIN
#loginForm {
  background-color: var(--color-form);

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0%;

    div:nth-child(1) {
      padding-right: 15%;
    }

    div:nth-child(2) {
      a {
        text-decoration: none;
        color: white;
        background-color: var(--title);
        padding: 10%;
        position: relative; //SIEMPRE


      }
    }
  }
}

//////////////////////////////////////////////FORMULARIO REGISTRO
#signupForm {
  background: var(--color8);
  display: flex;
  justify-content: center;
  align-items: center;

  form {  
    width: 80%;
    background: #a9b7c0;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;

    /* Full-width input fields */
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      background-color: #ddd;
      outline: none;
    }

    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    /* Set a style for all buttons */
    button {
      background-color: #04aa6d;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      *width: 80%;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }

    /* Extra styles for the cancel button */
    .btn_cancel {
      padding: 14px 20px;
      background-color: #f44336;
    }

    /* Float cancel and signup buttons and add an equal width */
    .btn_cancel,
    .btn_signup {
      float: left;
      width: 40%;
    }
    /* Add padding to container elements */
    .container {
      padding: 16px;
    }

    .clearfix{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {
      .btn_cancel,
      .btn_signup {
        width: 100%;
      }
    }
  }
}
