:root {
  --color-form: #a9b7c0;
  --title: #056571;
  --color1: #3c3c3c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.table_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;

  h2 {
    color: #056571;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;

    input:nth-child(2) {
      margin-left: 2%;
    }
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;

    tr {
      th {
        background-color: var(--color-form);
        color: var(--color1);
      }

      td {
        a:not(a[id="description"]){
          text-decoration: none;
          color: var(--color1);
          background: royalblue;
          color: white;
          padding: 8px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0% 10%;
          font-weight: bold;
          font-size: 13px;

          &:hover {
            background: rgb(192, 200, 226);
            color: royalblue;
            font-weight: bold;
          }
        }
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    }

    tr:nth-child(even) {
      background-color: #cfdfd4;
    }
  }

  a:not(a[id="description"]) {
    text-decoration: none;
    background: #66ab8c;
    color: white;
    font-weight: bold;

    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 10%;

    &:hover {
      background: #b4dbc0;
      color: #056571;
      font-weight: bold;
    }
  }
}
