main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  *overflow: hidden;
  background-color: #a9b7c0;
  display: flex;

  li {
    padding: 1%;
    background-color: #175f8b;

    &:hover {
      background-color: white;
      a {
        color: #175f8b;
      }
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

#mq_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0%;

  .myInput {
    width: 350px;
    height: 30px;
  }
}

#showFour {
  *background-color: #175f8b;
  width: 60%;
  margin: 2% 0%;
  
  .question4{
    text-align: center;
    background-color: #a9b7c0;
    padding: 2%;
    width: 100%;
    
  }
}
.table_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: var(--title);
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    tr {
      th {
        background-color: var(--color-form);
        color: var(--color1);
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    }

    tr:nth-child(even) {
      background-color: #cfdfd4;
    }
  }

  #buttonBox {
    width: 60%;
    padding: 1%;
    display: flex;
    justify-content: flex-end;

    background: #66ab8c;
    button:nth-child(1) {
      color: white;
      font-weight: bold;
      border: none;
      padding: 8px;
      margin-right: 250px;

      &:hover {
        background:#b4dbc0;
        color: #056571;
        font-weight: bold;
      }
    }

    button:nth-child(2) {
      background: royalblue;
      color: white;
      font-weight: bold;
      border: none;
      padding: 8px;

      &:hover {
        background:rgb(192, 200, 226);
        color: royalblue;
        font-weight: bold;
      }
    }
  }
}