:root {
  --color1: #3c3c3c;
  --title: #056571;
  --negro: #192231;
  --color-form: #a9b7c0;
  --color3: #945d60;
  --color4: #b56357;
  --color5: #af473c;
  --color6: #f53240;
  --color7: #b4dbc0;
  --color8: #eae3ea;
  --color9: #a7b3a5;
  --color10: #cdcdcd;
  --color11: #fff7c0;
  --color12: #66ab8c;
  --color15: #c7d8c6;
  --color16: #e9e7da;
  --color17: #cda34f;
}

* {
  box-sizing: border-box;
}

#searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.searchInput {
  width: 400px;
  height: 35px;
  margin-right: 2%;
}

.fa-search {
  font-size: 25px;
  color: #056571;
}
.fa-search:hover {
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  *overflow: hidden;
  background-color: #a9b7c0;
  display: flex;
}
nav ul li {
  padding: 1%;
  background-color: #175f8b;
}
nav ul li:hover {
  background-color: white;
}
nav ul li:hover a {
  color: #175f8b;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

header {
  background-color: #eae3ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  color: #056571;
  padding-left: 4%;
}
header #auth {
  width: 20%;
}
header #auth div:nth-child(1) {
  display: flex;
  justify-content: center;
  color: #3c3c3c;
}
header #auth div:nth-child(1) section:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5%;
}
header #auth div:nth-child(1) section:nth-child(1) span {
  margin-bottom: 20%;
}
header #auth div:nth-child(1) section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5%;
  width: 50%;
}
header #auth div:nth-child(1) section:nth-child(2) a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #auth div:nth-child(1) section:nth-child(2) a:hover {
  color: #056571;
  font-weight: bold;
}
header #auth div:nth-child(1) section:nth-child(2) a:hover span,
header #auth div:nth-child(1) section:nth-child(2) a:hover label {
  color: #056571;
  font-weight: bold;
}
header #auth div:nth-child(1) section:nth-child(2) a span {
  color: #3c3c3c;
}
header #auth div:nth-child(1) section:nth-child(2) a label {
  color: #3c3c3c;
}
header #auth div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3c3c3c;
  font-size: 12px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

#loginForm {
  background-color: var(--color-form);
}
#loginForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0%;
}
#loginForm form div:nth-child(1) {
  padding-right: 15%;
}
#loginForm form div:nth-child(2) a {
  text-decoration: none;
  color: white;
  background-color: var(--title);
  background: linear-gradient(#056571, #677e81);
  padding: 10%;
}
#loginForm form div:nth-child(2) a:hover {
  background: linear-gradient(#677e81, #056571);
}

#blocked {
  color: #9f6000;
  background-color: #feefb3;
  text-align: center;
  padding: 1% 0%;
  margin: 2% 35%;
}
#blocked label {
  font-weight: bolder;
}

.buttonGreen {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 42%;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 18px;
  font-weight: bold;
}
.buttonGreen:hover {
  color: #04aa6d;
  background-color: white;
  font-weight: bold;
}

#signupForm {
  background: #eae3ea;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signupForm form {
  width: 70%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  color: #3c3c3c;
  /* Full-width input fields */
  /* Set a style for all buttons */
  /* Extra styles for the cancel button */
  /* Float cancel and signup buttons and add an equal width */
  /* Add padding to container elements */
}
#signupForm form h2 {
  margin: 0%;
  color: #056571;
}
#signupForm form input[type=text],
#signupForm form input[type=password],
#signupForm form input[type=url],
#signupForm form textarea {
  width: 100%;
  padding: 5px;
  margin: 2px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}
#signupForm form input[type=text]:focus,
#signupForm form input[type=password]:focus,
#signupForm form input[type=url]:focus,
#signupForm form textarea:focus {
  background-color: #b4dbc0;
  outline: none;
}
#signupForm form hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
#signupForm form button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  *width: 80%;
  opacity: 0.9;
}
#signupForm form button:hover {
  opacity: 1;
}
#signupForm form .btn_signup {
  padding: 14px 20px;
  background: linear-gradient(#77b55a, #72b352);
}
#signupForm form .btn_signup:hover {
  background: linear-gradient(#72b352, #77b55a);
}
#signupForm form .btn_cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 180px;
  border: none;
  color: white;
  cursor: pointer;
  background: linear-gradient(#e4685d, #d0451b);
}
#signupForm form .btn_cancel:hover {
  background: linear-gradient(#d0451b #e4685d);
}
#signupForm form .btn_cancel,
#signupForm form .btn_signup {
  float: left;
  width: 40%;
}
#signupForm form .container {
  padding: 16px;
}
#signupForm form .clearfix {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#mq_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0%;
}

#addQuestionForm {
  background: var(--color8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
#addQuestionForm form {
  background: #a9b7c0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0% 2%;
}
#addQuestionForm form label {
  margin: 1% 0% 0.1% 0%;
}
#addQuestionForm form input {
  margin: 1% 0%;
  padding: 1% 0%;
}
#addQuestionForm form .buttons {
  margin: 2% 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Extra styles for the cancel button */
  /* Float cancel and signup buttons and add an equal width */
  /* Add padding to container elements */
}
#addQuestionForm form .buttons button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  *width: 80%;
  opacity: 0.9;
}
#addQuestionForm form .buttons button:hover {
  opacity: 1;
}
#addQuestionForm form .buttons .btn_cancel {
  padding: 14px 20px;
  background-color: #f44336;
}
#addQuestionForm form .buttons .btn_cancel,
#addQuestionForm form .buttons .btn_add {
  float: left;
  width: 40%;
}
#addQuestionForm form .buttons .container {
  padding: 16px;
}/*# sourceMappingURL=style.css.map */