* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  form{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;

    input{
      margin: 0% 2%;
    }
  }