:root {
    --color1: #3c3c3c;
    --color2: #192231;
  
    --color3: #945d60;
    --color4: #b56357;
    --color5: #af473c;
    --color6: #f53240;
  
    --color7: #b4dbc0;
    --color8: #eae3ea;
    --color9: #a7b3a5;
    --color10: #cdcdcd;
    --color11: #fff7c0;
    --color12: #66ab8c;
    --color13: #056571;
  
    --color14: #a9b7c0;
    --color15: #c7d8c6;
    --color16: #e9e7da;
    --color17: #cda34f;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    background-color: #dfdce3;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h2 {
      color: var(--color13);
      padding-left: 4%;
    }
  
    #auth {
      width: 20%;
  
      div:nth-child(1) {
        display: flex;
        justify-content: center;
        color: var(--color1);
  
        section:nth-child(1) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2.5%;
  
          span {
            margin-bottom: 20%;
          }
        }
  
        //Icono usuario e icono salir
        section:nth-child(2) {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2.5%;
          width: 50%;
  
          a {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
  
            &:hover {
              color: var(--color13);
              font-weight: bold;
  
              span,
              label {
                color: var(--color13);
                font-weight: bold;
              }
            }
  
            span {
              color: var(--color1);
            }
            label {
              color: var(--color1);
            }
          }
        }
      }
  
      //Fecha y hora
      div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color1);
        font-size: 12px;
      }
    }
  }